<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no>
    <title><%= SITE_TITLE %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  </head>

  <body class="bg-light">

    <header>

      <section id="main-header" class="container-fluid bg-danger sticky-top">

        <div class="row px-5 pt-2">
          <h1>
            <%= link_to SITE_TITLE, root_path, class: "text-white" %>
          </h1>
        </div>

        <div class="row px-5">
          <h2 class="text-light">
            <em>
              * Or a method, trick, concept, library, or something else.
            </em>
          </h2>
        </div>

      </section>

      <%= render 'sub_header' if controller_name == 'home' %>

    </header>

    <main class="container">

      <%= render 'search_bar' if controller_name == 'home' %>
      <%= yield %>
      
    </main>

  </body>

</html>
