<!DOCTYPE html>
<html>

  <head>
    <title><%= SITE_TITLE %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">

    <header>

      <section class="container-fluid bg-danger sticky-top">

        <div class="row pl-5 pr-1 pt-2">

          <section class="title col-10">
            <h1 class="display-4 text-white">
              <%= SITE_TITLE %>
            </h1>
          </section>

          <section class="user-menu text-white col-2">
            User Menu
          </section>

        </div>

        <div class="row pl-5 text-light font-weight-light">
          <h6><em>* Or a method, trick, concept, library, or something else.</em></h6>
        </div>

      </section>

      <section class="row bg-secondary p-3 pt-4 rounded-bottom ml-5 mr-5">
        <div class="col-10 text-white">
        <h5 class="font-weight-light">
          A daylish blog about the never-ending quest of knowing more about the things I use to make things.
        </h5>
        <h6 class="font-weight-light">- by Art Mieussens</h6>
        </div>
        <div class="col-2">
          <%= image_tag 'art-nobkg.png', size: "100x100" %>
        </div>
      </section>

    </header>

    <main class="container">
      <%= yield %>
    </main>

  </body>

</html>
