<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1", shrink-to-fit=no>
    <title><%= SITE_TITLE %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body class="bg-light">

    <header>

      <section class="container-fluid bg-danger sticky-top">

        <div class="row px-5 pt-2 text-white">
          <h1>
            <%= SITE_TITLE %>
          </h1>
        </div>

        <div class="row px-5">
          <h6 class="text-light">
            <em>
              * Or a method, trick, concept, library, or something else.
            </em>
          </h6>
        </div>

      </section>

      <section class="container">
        <div class="row bg-secondary rounded-bottom">

          <div class="col text-light font-weight-light p-3">
            <h6>
              A daylish blog about the never-ending quest of knowing more about the things I use to make things.
            </h4>
            <h6>- by Art Mieussens <button class="btn"><i class="fas fa-envelope"></i></button></h6>
          </div>

          <div class="col-sm-auto text-right p-1 d-none d-sm-block">
            <%= image_tag 'art-nobkg.png', class: "img-fluid", size: "100x100" %>
          </div>

        </div>
      </section>

    </header>

    <main class="container">

      <section class="col input-group mt-3">
        <input class="form-control" type="text">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
      </section>

      <%= yield %>
    </main>

  </body>

</html>
